/* FONTS */
@font-face {
    font-family: helveticaNow;
    src: url(fonts/helvetica-now-font-family-1713060452-0/helveticanowtext-black-demo.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helveticaNow;
}

:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-size: 12vw;
    margin-bottom: 1vh;
}

h3 {
    font-size: 10vw;
    margin: 0;
    margin-top: 3vh;
}

label {
    font-size: 10vw;
}

select {
    font-size: 10vw;
    width: 80vw;
    margin-bottom: 2vh;
}

input {
    font-size: 10vw;
    margin-bottom: 2vh;
}

button {
    font-size: 10vw;
    width: 80vw;
}

p {
    font-size: 9vw;
    margin: 0;
}


.mark_rounding_port {
    color: red;
}

.mark_rounding_stbd {
    color: green;
}
.mark_rounding_flag{
    color: blue;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

