/* FONTS */
@font-face {
    font-family: helveticaNow;
    src: url(fonts/helvetica-now-font-family-1713060452-0/helveticanowtext-black-demo.ttf);
}

body {
    margin: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helveticaNow;
}

:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-size: 11vw;
    margin-bottom: 1vh;
}

h3 {
    font-size: 9vw;
    margin: 0;
    margin-top: 3vh;
}

label {
    font-size: 9vw;
}

select {
    font-size: 9vw;
    width: 80vw;
    margin-bottom: 2vh;
}

input {
    font-size: 9vw;
    margin-bottom: 2vh;
}

button {
    font-size: 9vw;
    width: 80vw;
    margin-top: 2vh;
}

p {
    font-size: 9vw;
    margin: 0;
}

.mark_rounding_port {
    color: red;
}

.mark_rounding_stbd {
    color: green;
}

.mark_rounding_flag {
    color: blue;
}

#committee-boat {
    display: none;
}

/* The container */
.container {

    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    border: 1px solid black;
    flex: 1 1 0px;
    height: 50px;
}

.committee-wrapper {
    display: flex;
    width: 80vw;
}

/* Hide the browser's default radio button */
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    width: 0;
    height: 0;
    display: flex;
}

/* Create a custom radio button */
.checkmark {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flag-red {
    background: darkred;
    color: grey;
}

.flag-green {
    background: #045D2B;
    color: grey;
}

.flag-red input:checked~.checkmark {
    background: red;
    border: darkred 5px solid;
    color: white;
}

.flag-green input:checked~.checkmark {
    background-color: #06C85C;
    border: darkgreen 5px solid;
    color: white;

}

.container input:checked~.checkmark {
    margin: -5px;
}



.north-wrapper {
    display: flex;
    width: 80vw;
}

.north-true {
    background: navy;
    color: grey;
}

.north-magnetic {
    background: navy;
    color: grey;
}

.north-true input:checked~.checkmark {
    background: blue;
    border: navy 5px solid;
    color: white;
}

.north-magnetic input:checked~.checkmark {
    background-color: blue;
    border: navy 5px solid;
    color: white;
}

.container input:checked~.checkmark {
    margin: -5px;
}